<h2>Ingredients</h2>

<span>Id: <input id="ingredient-id" type="text" style="width:50px" readonly></span>
<br>
<span>Name: <input id="ingredient-name" type="text" style="width:200px"></span>
<br>
<span>Amount: <input id="ingredient-amount" type="number" style="width:50px"></span>
<br>
<span>Unit: <select id="ingredient-unit"></select></span>

<br>
<br>

<button onclick="goToRecipes()"><- Back</button>
<br>
<button onclick="saveIngredientForm()">Save</button>&nbsp;&nbsp;&nbsp;
<button onclick="clearIngredientForm()">Clear form</button>&nbsp;&nbsp;&nbsp;
<button onclick="deleteSelectedIngredient()">Delete</button>

<hr>

<button onclick="getIngredientDataForTable()">Refresh</button>

<br>
<br>

<table id="ingredient-table" class="display" width="100%"></table>

<script>
  initIngredientComponents();
</script>