<h2>Recipes</h2>

<!-- tutaj siekniemy formularz do edycji i dodawania-->
<span>Id: <input id="recipe-id" type="text" style="width:50px" readonly></span>
<br>
<span>Name: <input id="recipe-name" type="text" style="width:200px"></span>
<br>
<span>Difficulty: <select id="recipe-difficulty"></select></span>
<br>
<span>Description: <textarea id="recipe-description" rows="4" cols="80"></textarea> </span>

<br>
<br>

<button onclick="showIngredientsForSelectedRecipe()">Go to ingredients</button>
<br>
<button onclick="saveRecipeForm()">Save</button>&nbsp;&nbsp;&nbsp;
<button onclick="clearRecipeForm()">Clear form</button>&nbsp;&nbsp;&nbsp;
<button onclick="deleteSelectedRecipe()">Delete</button>

<hr>

<button onclick="getRecipeDataForTable()">Refresh</button>

<br>
<br>

<!-- tutaj jest tabelka, dosyc magiczna, bo obslugiwana przez jquery.dataTables -->
<table id="recipe-table" class="display" width="100%"></table>

<!--tutaj znowu autostart-->
<script>
  initRecipeComponents();
</script>